#contact iframe
{
    width: 100%;
}
.viagem_mainDiv { border: 1px solid rgb(0, 0, 0); }
.viagem_mainDiv h5 , .viagem_mainDiv p { margin: 20px; }
body { 
    background-color: #c3c3c3;
}
#welcome { 
    bottom: 0; 
    background: linear-gradient(#ffffff 0%, #c3c3c3 100%);
   display: table; 
   width: 100%;
        height: 100%; 
         }

         h1 { 
            font-size: 30px; 
                    font-family: comic;
                     font-weight: 300;
                     color: rgba(0, 0, 0, 0.901);
                     font-weight: bold;
                     }
                     .filmesHead i {
                        float: right; 
                        font-size: 30px;
                   }
                    .filmesText span {
                        color: orange;
                        font-size: 25px;
                    }

        h2 {
           font-size: 30px; 
           color: black;     
          }
          h3 {
            font-size: 35px;
            color: slategrey;
          }
          h5 {
            font-size: 40px;
            font-family:serfin;
          }